@font-face {
  font-family: 'SourceSansPro';
  src: url('./SourceSansPro-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

/* Utility */

.nomargin {
    margin: 0;
}

.width {
    width: 90%;
    max-width: 840px;
}

.fullwidth {
    width: 100%;
    max-width: 880px;
}

.bold {
    font-weight: bold;
}

/* General */

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0;

    font-family: 'SourceSansPro', sans-serif;
    color: #090909;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.3em 0;
    border: 2px solid greenyellow;
}

nav a {
    color: #090909;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.2em;

    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
}

.logo img {
    width: 25px;
    height: 25px;
}

nav ul {
    display: flex;
    justify-content:space-between;
    gap: 0.625em;

    padding: 0;

    font-size: 0.75rem;
    text-transform: uppercase;

    list-style-type: none;
}

/* Hero post */

.blog-hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.blog-hero a {
    text-decoration:none;
    color: #ECECEC;
}

.blog-hero img {
    display: block;
    width: 100%;
}

.blog-hero-text {
    position: absolute;
    left: 22px;
    bottom: 0;
    
    width: 85%;
    max-width: 700px;
}

.blog-hero-text span,
.blog-hero-text p,
.blog-link span,
.blog-link p {
    font-size: 0.75rem;
}

.blog-hero-text h1 {
    margin-top: 0.25em;

    font-size: 1.125rem;
}

/* Blog links */

.blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
    gap: 25px;

    padding: 25px;
    margin: 0 auto;
}

.blog-link img {
    margin: 0;
    width: 100%;
    object-fit: cover;
}

.blog-link h4 {
    margin: 10px 0;
}

/* Full blog post */

.blog-post {
    padding: 10px 25px;
    margin: 0 auto;
}

.blog-post span,
.blog-post p {
    font-size: 0.875rem;
}

.blog-post h1 {
    font-size: 1.25rem;
    margin: 20px 0;
}

.blog-post h2 {
    font-size: 1rem;
    margin: 20px 0;
}

.blog-post img {
    display: block;
    margin: 0;
    width: 100%;
    object-fit: cover;

}

/* -- */

.recent {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    width: 100%;
}

/* About me */

.about-me {
    margin: 0 auto;
    padding: 0 25px;
}

.about-me img {
    width: 30%;
    max-width: 300px;
    border-radius: 50%;
}

.about-me p {
    font-size: 0.875rem;
    margin-bottom: 30px;
}

.about-me p:first-of-type {
    margin-bottom: 40px;
}

.about-me h2 {
    font-size: 18px;
}


/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1.5625em 0;

    background-color: #202020;
}

footer p {
    font-size: 0.7rem;
    color: #ECECEC;
    line-height: 1.5;
}

footer p:first-of-type {
    letter-spacing: 0.09rem;
}